* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bord {
    border: 2px solid red;
}

header {
    height: 11vh;

    box-shadow: 1px 8px 19px -11px #0a0a0a;
    display: flex;
    justify-content: space-between;
}

.header_div {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-self: center;

}

.header_h {

    cursor: pointer;
}

.header_nav {

    width: 66vh;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;

}

.header_nav a {
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;

    color: #58595e;
    display: flex;
    justify-content: center;
    align-self: center;
}

.header_nav a:hover {
    color: aqua;
}

.home_main {
    background-color: #F9F9F9;
    height: 89vh;
}

.main_top {
    min-height: 76vh;
    background-color: #F9F9F9;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.main_bottom {
    height: 13vh;
    /* background-color: palegreen; */
}

.section_left,
.section_right {
    width: 40%;
    display: inline-block;

    height: 100%;
}

.section_left {
    margin-left: 215px;
    margin-top: 140px;
}

.section_left h1 {
    color: #2D2E32;
    font-size: 60px;
}

.section_left p {
    color: #767676;
    font-size: 22px;
    width: 81%;
    padding-top: 25px;
    padding-bottom: 19px;
}

.section_left svg {
    background-color: #2D2E32;
    color: white;
    font-size: 30px;
    margin-right: 10px;
    padding: 6px;
    border-radius: 21px;

}

.section_left svg:hover {
    color: aqua;
}

.section_right {}